.itemDiv {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.btn {
  background-color: transparent;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  outline: none;
  box-shadow: none;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: bold;
}
